.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  .greet {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25vh;
    z-index: 2;
    align-items: center;
    justify-content: center;
    user-select: none;
    padding: 2rem 4rem 2rem 2rem;

    @media (max-width: 750px) {
      padding: 2rem;
      top: 20vh
    }

    ul {
      margin-left: 0;
      padding-left: .5rem;

      li {
        padding-left: 1em;
        text-indent: -1em;
      }
    }
  }
  .title {
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 0.5rem;
    margin-top: 0;
    color: #05091e;

    @media (min-width: 750px) {
      font-size: 5em;
    }
  }

  .desc {
    color: #05091e;
    font-size: 1.3em;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  .hooks-main > svg {
    display: none;
  }

  .hooks-main > div {
    position: absolute;
    will-change: transform;
    border-radius: 50%;
    background: #46b4ff;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    opacity: 0.6;
  }

  .hooks-main > div:nth-child(1) {
    width: 140px;
    height: 140px;
  }

  .hooks-main > div:nth-child(2) {
    width: 260px;
    height: 260px;
  }

  .hooks-main > div:nth-child(3) {
    width: 160px;
    height: 160px;
  }

  .hooks-main > div::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #05091e;
  }

  .hooks-main > div:nth-child(2)::after {
    top: 70px;
    left: 70px;
    width: 70px;
    height: 70px;
  }

  .hooks-main > div:nth-child(3)::after {
    top: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
  }

  .hooks-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 70px);
    filter: url('#allowemptyinput');
    overflow: hidden;
    @media (max-width: 750px) {
      height:  calc(100% - 140px);
    }
  }
  }

.hide {
  .hooks-main {
    display: none;
  }
  svg {
    display: none;
  }
}